@import url("./second.css");

#firstDiv{
text-align: center;
background-image: radial-gradient(rgba(129, 138, 216, 0.5),rgb(145, 172, 247),rgb(95, 127, 201));
border-radius: 10%;
font-family:cursive;
font-size: 2em;
}
a:link,a:visited {
    text-decoration: none;
    color:aliceblue;
  }
  